.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  z-index: 10;
  position: relative;
  height: 3rem;
  margin: 0 auto;
  width: 100%;
}

a {
  color: var(--black);
}

button {
  cursor: url("/assets/cursor.svg"), auto;
}

@media only screen and (max-width: 600px) {
  button {
    border-radius: 4px;
    font-size: 13px;
  }

  .navbar {
    padding: 0 7px;
  }
}
