<div class="wrapper px-8 pb-6">
  <div class="generate flex justify-end pt-5 pb-2">
    <button
      class="w-32 bg-slate-200 text-black hover:bg-stone-950 hover:text-slate-50 flex items-center justify-center"
    >
      <span class="font-medium">Generate with Ai</span>
      <ng-icon name="radixMagicWand" strokeWidth="17px;"></ng-icon>
    </button>
  </div>
  <div class="input__container flex justify-center flex-col gap-3">
    <div class="input bg-white  border-solid border border-slate-30 rounded-md p-4">
      <form class="flex-col flex">
        <label class="font-semibold pb-2">Line 1:</label>
        <textarea
          class="border-solid border border-slate-30 rounded-md pe-2 ps-2 h-20 resize-none"
        >
this world is so quick to judge & too late to understand
        </textarea>
      </form>
      <button
        class="flex items-center justify-center pl-2 text-xs gap-1 pt-2 font-medium text-red-900"
      >
        <span> show advanced settings</span>
        <ng-icon name="radixGear" strokeWidth="17px;"></ng-icon>
      </button>
    </div>
    <div class="input bg-white border-solid border border-slate-30 rounded-md p-4">
      <form class="flex-col flex">
        <label class="font-semibold pb-2">Line 1:</label>
        <textarea
          class="border-solid border border-slate-30 rounded-md pe-2 ps-2 h-20 resize-none"
        >
this world is so quick to judge & too late to understand
        </textarea>
      </form>
      <button
        class="flex items-center justify-center pl-2 text-xs gap-1 pt-2 font-medium text-red-900"
      >
        <span> show advanced settings</span>
        <ng-icon name="radixGear" strokeWidth="17px;"></ng-icon>
      </button>
    </div>
  </div>
  <div class="templates pt-6">
    <h2 class="font-semibold text-lg pb-1 font-sans">Select a Font:</h2>
    <div class="templates__container flex flex-wrap gap-4 justify-center">
      <div class="templates__container--template rounded-lg flex">
        <img src="./assets/template.png" alt="template" class="rounded-lg" />
      </div>

      <div class="templates__container--template rounded-lg flex">
        <img src="./assets/template.png" alt="template" class="rounded-lg" />
      </div>

      <div class="templates__container--template rounded-lg flex">
        <img src="./assets/template.png" alt="template" class="rounded-lg" />
      </div>

      <div class="templates__container--template rounded-lg flex">
        <img src="./assets/template.png" alt="template" class="rounded-lg" />
      </div>
    </div>
  </div>
</div>
