<div class="wrapper px-8 pb-6">
  <div class="generate flex justify-end pt-5 pb-2">
    <button
      (click)="aiBtnClicked()"
      class="w-32 bg-slate-200 text-black hover:bg-stone-950 hover:text-slate-50 flex items-center justify-center"
    >
      <span class="font-medium">Generate with Ai</span>
      <ng-icon name="radixMagicWand" strokeWidth="17px;"></ng-icon>
    </button>
  </div>

  <div class="input__container flex justify-center flex-col gap-3">
    <div
      class="input bg-white border-solid border border-slate-30 rounded-md p-4"
    >
      <form class="flex-col flex" [formGroup]="input1">
        <label class="font-semibold pb-2">Line 1:</label>
        <textarea
          formControlName="input"
          class="border-solid border border-slate-30 rounded-md pe-2 ps-2 h-20 resize-none"
        ></textarea>
      </form>
      <button
        (click)="setting1Toggled()"
        class="flex items-center justify-center pl-2 text-xs gap-1 pt-2 font-medium text-red-900 hover:bg-slate-200 hover:text-black setting"
        [ngClass]="{ 'font-semibold text-black': this.setting1 }"
      >
        <span> Show Advanced Settings</span>
        @if(this.setting1) {
        <ng-icon name="radixChevronUp" stye strokeWidth="17px;"></ng-icon>

        } @else if (!this.setting1){

        <ng-icon name="radixGear" strokeWidth="17px;"></ng-icon>
        }
      </button>
      @if(this.setting1) {
      <div class="bg-slate-200 p-3 rounded-md">
        <div class="settings">
          <form [formGroup]="fontSizeForm" class="flex flex-col gap-2 w-100">
            <div class="setting_input flex flex-col gap-2">
              <div class="main_setting flex items-center justify-normal gap-3">
                <label class="font-medium text-sm">Font Size</label>
                <input
                  formControlName="fontSize"
                  class="w-17 text-sm border-solid border border-1 border-slate-500 pl-2"
                  type="number"
                />
              </div>

              <div class="PB-range-slider-div">
                <input
                  [value]="fontSizeForm.get('fontSize')?.value"
                  (input)="onRangeInput($event)"
                  type="range"
                  min="0"
                  max="100"
                  value="50"
                  class="PB-range-slider"
                  id="myRange"
                />
                <p class="PB-range-slidervalue">
                  {{ fontSizeForm.get("fontSize")?.value }}px
                </p>
              </div>
            </div>
          </form>

          <div class="setting_input flex flex-col gap-2">
            <div class="main_setting flex items-center justify-normal gap-3">
              <label class="font-medium text-sm">Font Color</label>
              <input
                [(ngModel)]="selectedColor"
                class="w-17 text-sm border-solid border border-1 border-slate-500 pl-2"
              />
            </div>
            <ngx-colors
              ngx-colors-trigger
              [(ngModel)]="selectedColor"
            ></ngx-colors>
          
          </div>
        </div>
      </div>
      }
    </div>

    <div
      class="input bg-white border-solid border border-slate-30 rounded-md p-4"
    >
      <form class="flex-col flex" [formGroup]="input2">
        <label class="font-semibold pb-2">Line 2:</label>
        <textarea
          formControlName="input"
          class="border-solid border border-slate-30 rounded-md pe-2 ps-2 h-20 resize-none"
        ></textarea>
      </form>
      <button
        (click)="setting2Toggled()"
        class="flex items-center justify-center pl-2 text-xs gap-1 pt-2 font-medium text-red-900 hover:bg-slate-200 hover:text-black setting"
        [ngClass]="{ 'font-semibold text-black': this.setting2 }"
      >
        <span> Show Advanced Settings</span>
        @if(this.setting2) {
        <ng-icon name="radixChevronUp" stye strokeWidth="17px;"></ng-icon>

        } @else if (!this.setting2){

        <ng-icon name="radixGear" strokeWidth="17px;"></ng-icon>
        }
      </button>
      @if(this.setting2) {
      <div class="bg-slate-200 p-3 rounded-md">
        <div class="settings">
          <form class="flex flex-col gap-2 w-100">
            <div class="setting_input flex flex-col gap-2">
              <div class="main_setting flex items-center justify-normal gap-3">
                <label class="font-medium text-sm">Font Size</label>
                <input
                  class="w-14 border-solid border border-1 border-slate-500 pl-2"
                  type="number"
                  value="30"
                />
              </div>
              <input type="range" />
            </div>
            <div class="setting_input flex flex-col gap-2">
              <div class="main_setting flex items-center justify-normal gap-3">
                <label class="font-medium text-sm">Font Color</label>
                <input
                  class="w-14 border-solid border border-1 border-slate-500 pl-2"
                  value="#30"
                />
              </div>
              <input type="color" />
            </div>
          </form>
        </div>
      </div>
      }
    </div>
  </div>

  <div class="templates pt-6">
    <h2 class="font-semibold text-lg pb-1">Select a Font:</h2>
    <div class="templates__container flex flex-wrap gap-4 justify-center">
      @for(font of fonts; track font; let i = $index) {
      <div
        class="templates__container--template rounded-lg flex"
        (click)="fontSelected(i)"
      >
        <img [src]="font.src" [alt]="font.alt" class="rounded-lg" />
      </div>
      }
    </div>
  </div>
</div>
