main {
  padding: 0 3rem;
  grid-gap: 2rem;
  z-index: 1;
  position: relative;
  padding-right: 0;
}

@media only screen and (min-width: 600px) {
  
}


@media only screen and (min-width: 375px) and (max-width: 600px) and (min-height: 731px) and (max-height: 731px) {

  
}

@media only screen and (max-width: 600px) {
  main {
    flex-direction: column-reverse;
    padding: 0 3px;
    gap: 7px;
  }
}