main {
  padding: 0 3rem;
  grid-gap: 2rem;
  z-index: 1;
  position: relative;
  padding-right: 0;
}


@media only screen and (max-width: 600px) {
  main {
    flex-direction: column-reverse;
    padding: 0 3px;
    gap: 7px;
  }
}