@font-face {
  font-family: "hwBlaire";
  src: url("../../../../assets/fonts/hwBlaire-Regular.woff2") format("woff2"),
       url("../../../../assets/fonts/hwBlaire-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}