<div class="wrapper">
  <div class="container">
    <div class="img__container grid">
      <!-- <div class="img__container grid" style="width: 30rem;"> -->
      @if(loading()) {

      <div class="spinner center">
        <div class="spinner-blade"></div>
        <div class="spinner-blade"></div>
        <div class="spinner-blade"></div>
        <div class="spinner-blade"></div>
        <div class="spinner-blade"></div>
        <div class="spinner-blade"></div>
        <div class="spinner-blade"></div>
        <div class="spinner-blade"></div>
        <div class="spinner-blade"></div>
        <div class="spinner-blade"></div>
        <div class="spinner-blade"></div>
        <div class="spinner-blade"></div>
      </div>
      } @else() {

      <img
        [src]="canvasDataURL"
        class="rounded-md border-solid border border-slate-30 my-0 mx-auto"
        alt="Generated Image"
      />
      }
    </div>
    <!-- (click)="downloadCanvas()" -->
    <p class="py-2 text-xs">
      Tip: If the quote doesn't fit the page - copy the content, close the modal
      and use the editor.
    </p>
    <!-- (click)="uploadPhoto()" -->
    <div class="flex justify-end items-center">
      <button
        (click)="downloadCanvas()"
        class="w-32 bg-black text-slate-50 hover:bg-stone-900 hover:text-slate-50 flex items-center justify-center gap-1"
      >
        <ng-icon name="radixDownload" strokeWidth="17px;"></ng-icon>
        <span class="text-sm font-normal">Download</span>
      </button>
    </div>
  </div>

  <canvas #canvas width="400" height="200"></canvas>
</div>
