@if(notExist()) {
  <main class="w-full h-screen flex flex-col items-center justify-center px-4">
    <div class="flex flex-col items-center justify-center max-w-sm">
      <h2 class="text-xl font-semibold mb-4">Couldn't find your page</h2>
      <p class="mb-6 text-zinc-500 text-center">
        We searched everywhere but couldn't find the page you were looking for.<br /><br />If
        you encountered this page by a bug, please report it to me, the creator of
        it, on X:
        <a
          target="_blank"
          class="text-black font-medium underline underline-offset-2 hover:no-underline"
          href="https://x.com/drealdumore"
          >&#64;Saint</a
        >
      </p>
      <a
        class="h-10 truncate px-4 gap-2 md:w-auto w-full font-medium flex items-center justify-center bg-black text-white shadow-md shadow-black/5 transition-colors hover:bg-zinc-800 rounded-lg"
        href="/app"
        >Return to app</a
      >
    </div>
  </main>
} @else {
  <div *ngIf="imageData$ | async as info">
    <main
      class="w-full min-h-screen flex flex-col items-center pt-4 px-4 overflow-x-hidden pb-16"
    >

      <h1 class="text-xl font-semibold mb-12 max-w-sm">Generated Image:</h1>
      <div
        class="p-4 rounded-3xl shadow-xl shadow-black/5 border border-zinc-200 bg-white -rotate-3 mb-16 animate-fall-in"
      >
        <img
          [src]="info.url"
          alt="Write It Image"
          width="400"
          height="400"
          fetchpriority="high"
          class="rounded-xl"
          style="color: transparent"
        />
        <div class="flex items-center justify-center pt-4">
          <h4 class="text-sm font-bold font-display">ID: {{ id }}</h4>
        </div>
      </div>

      <div class="flex items-center gap-4 md:w-auto w-full md:flex-row flex-col">
        <button
          (click)="downloadImage(info.path)"
          class="h-10 truncate px-4 gap-2 md:w-auto w-full font-medium flex items-center justify-center bg-black text-white shadow-md shadow-black/5 transition-colors hover:bg-zinc-800 rounded-lg"
        >
          <svg
            width="20"
            height="20"
            viewBox="0 0 24 24"
            class="md:block hidden"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M12 3C12.5523 3 13 3.44772 13 4V13.0858L16.2929 9.79289C16.6834 9.40237 17.3166 9.40237 17.7071 9.79289C18.0976 10.1834 18.0976 10.8166 17.7071 11.2071L12.7071 16.2071C12.3166 16.5976 11.6834 16.5976 11.2929 16.2071L6.29289 11.2071C5.90237 10.8166 5.90237 10.1834 6.29289 9.79289C6.68342 9.40237 7.31658 9.40237 7.70711 9.79289L11 13.0858V4C11 3.44772 11.4477 3 12 3ZM4 13C4.55228 13 5 13.4477 5 14V18C5 18.5523 5.44772 19 6 19H18C18.5523 19 19 18.5523 19 18V14C19 13.4477 19.4477 13 20 13C20.5523 13 21 13.4477 21 14V18C21 19.6569 19.6569 21 18 21H6C4.34315 21 3 19.6569 3 18V14C3 13.4477 3.44772 13 4 13Z"
              fill="currentColor"
            ></path></svg
          ><span>Download Image</span></button
        ><button
          (click)="copyPageUrl()"
          class="h-10 truncate md:w-auto w-full px-4 gap-2 font-medium flex items-center justify-center border border-zinc-200 shadow-md shadow-black/5 transition-colors hover:bg-zinc-50 rounded-lg cursor-pointer"
        >
          <svg
            width="20"
            height="20"
            class="md:block hidden"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M8 3C8 2.44772 8.44772 2 9 2H15C15.5523 2 16 2.44772 16 3V4H17C18.6569 4 20 5.34315 20 7V19C20 20.6569 18.6569 22 17 22H7C5.34315 22 4 20.6569 4 19V7C4 5.34315 5.34315 4 7 4H8V3ZM8 6H7C6.44772 6 6 6.44772 6 7V19C6 19.5523 6.44772 20 7 20H17C17.5523 20 18 19.5523 18 19V7C18 6.44772 17.5523 6 17 6H16V7C16 7.55228 15.5523 8 15 8H9C8.44772 8 8 7.55228 8 7V6ZM14 4H10V6H14V4Z"
              fill="currentColor"
            ></path></svg
          ><span>Copy Sharable Link</span>
        </button>
      </div>
      <a
        class="mt-16 font-medium hover:underline underline-offset-2 text-sm pl-56 self-start flex items-center"
        href="/app"
        routerLink="/app"
        ><svg
          width="20"
          height="20"
          class="inline-block mr-2"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M11.7071 4.79289C11.3166 4.40237 10.6834 4.40237 10.2929 4.79289L3.79289 11.2929C3.40237 11.6834 3.40237 12.3166 3.79289 12.7071L10.2929 19.2071C10.6834 19.5976 11.3166 19.5976 11.7071 19.2071C12.0976 18.8166 12.0976 18.1834 11.7071 17.7929L6.91421 13H20C20.5523 13 21 12.5523 21 12C21 11.4477 20.5523 11 20 11H6.91421L11.7071 6.20711C12.0976 5.81658 12.0976 5.18342 11.7071 4.79289Z"
            fill="black"
          ></path></svg
        >Generate another</a
      >
    </main>
  </div>
}
