@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "hwAnita";
  src: url("./assets/fonts/hwAnita-Regular.woff2") format("woff2"),
    url("./assets/fonts/hwAnita-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "hwBernie";
  src: url("./assets/fonts/hwBernie-Regular.woff2") format("woff2"),
    url("./assets/fonts/hwBernie-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "hwBlaire";
  src: url("./assets/fonts/hwBlaire-Regular.woff2") format("woff2"),
    url("./assets/fonts/hwBlaire-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "hwChase";
  src: url("./assets/fonts/hwChase-Normal.woff2") format("woff2"),
    url("./assets/fonts/hwChase-Normal.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "hwDavid";
  src: url("./assets/fonts/hwDavid-Regular.woff2") format("woff2"),
    url("./assets/fonts/hwDavid-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "hwKate";
  src: url("./assets/fonts/hwKate-Regular.woff2") format("woff2"),
    url("./assets/fonts/hwKate-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "hwRuthie";
  src: url("./assets/fonts/hwRuthie-Normal.woff2") format("woff2"),
    url("./assets/fonts/hwRuthie-Normal.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "hwKelsey";
  src: url("./assets/fonts/hwKelsey-Normal.woff2") format("woff2"),
    url("./assets/fonts/hwKelsey-Normal.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "hwJonathan";
  src: url("./assets/fonts/hwJonathan-Regular.woff2") format("woff2"),
    url("./assets/fonts/hwJonathan-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "hwCaitlin";
  src: url("./assets/fonts/hwCaitlin-Regular.woff2") format("woff2"),
    url("./assets/fonts/hwCaitlin-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "hwJarrod";
  src: url("./assets/fonts/hwJarrod-Regular.woff2") format("woff2"),
    url("./assets/fonts/hwJarrod-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "hwCharity";
  src: url("./assets/fonts/hwCharity-Normal.woff2") format("woff2"),
    url("./assets/fonts/hwCharity-Normal.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "hwWill";
  src: url("./assets/fonts/hwWill-Normal.woff2") format("woff2"),
    url("./assets/fonts/hwWill-Normal.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "hwLulu";
  src: url("./assets/fonts/hwLulu-Normal.woff2") format("woff2"),
    url("./assets/fonts/hwLulu-Normal.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "hwDarleen";
  src: url("./assets/fonts/hwDarleen-Normal.woff2") format("woff2"),
    url("./assets/fonts/hwDarleen-Normal.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer base {
  html {
    font-family: "Atkinson Hyperlegible", "Proxima Nova", system-ui, sans-serif;
  }
}

:root {
  --fair: #fffc;
  --white: #fff;
  --black: #000;
  --active-border: #b1d9ee;
  --font: rgb(228, 244, 251, 1);
}

body {
  background: #fffc;
  transition: all 0.4s ease;
  overflow: hidden;
}

.fade-in {
  animation: fade-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
  transform: translateY(-20px);
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
