<div class="wrapper pt-6">
  <div class="preview flex justify-between items-center">
    <h2 class="text-lg font-bold" (click)="nextFont()">Preview</h2>
    <button
      (click)="downloadCanvas()"
      class="w-32 bg-black text-slate-50 hover:bg-stone-900 hover:text-slate-50 flex items-center justify-center gap-1"
    >
      <ng-icon name="radixDownload" strokeWidth="17px;"></ng-icon>
      <span class="text-sm font-normal">Download</span>
    </button>
  </div>

  @if(loading) {
  <div class="container pt-5">
    <div
      class="animate-pulse p-4 rounded-md border-solid flex flex-col gap-2 loader border border-slate-30 my-0 mx-auto"
    >
      <div class="h-5 bg-slate-100 rounded"></div>
      <div class="h-5 bg-slate-100 rounded"></div>
      <div class="h-5 bg-slate-100 rounded w-40 self-end"></div>
    </div>
  </div>
  } @else if (!loading) {
  <div class="container pt-5">
    <div class="img__container grid">
      <img
        [src]="canvasDataURL"
        class="rounded-md border-solid border border-slate-30 my-0 mx-auto"
        alt="Generated Image"
      />
    </div>
  </div>
  }

  <canvas #canvasEl width="450" height="100" class="p-4 mx-auto my-0"></canvas>
</div>
