button {
  border: none;
  font-family: inherit;
  cursor: pointer;
  height: 38px;
  border-radius: 5px;
}

.wrapper {
  max-height: calc(-48px + 100vh);
  overflow-y: auto;
  padding-right: 1rem;
}

.loader {
  width: 28rem;
}