canvas {
  visibility: hidden;
  width: 21rem;
  display: none;
  image-rendering: crisp-edges;
}

button {
  border: none;
  font-family: inherit;
  cursor: pointer;
  height: 38px;
  border-radius: 5px;
}

.wrapper {
  max-height: calc(-48px + 100vh);
  overflow-y: auto;
  padding-right: 1rem;
}

.loader {
  width: 28rem;
}

@media only screen and (max-width: 600px) {
  .wrapper {
    padding: 10px;
  }

  button {
    width: 6rem;
  }

  .loader {
    width: 21rem;
  }
}
