<div class="generate p-5 bg-white rounded-md">
  <div class="wrapper">
    <div class="flex items-center justify-between">
      <h2 class="font-semibold text-lg">Generate with AI</h2>
      <div class="close hover:bg-gray-200 text-lg" (click)="close()">
        <ng-icon name="radixCross1" strokeWidth="17px;"></ng-icon>
      </div>
    </div>

    <div class="content pt-4">
      <p>Can't think of a quote? We'll do the magic for you.</p>
      <div class="container">
        <form class="pt-3 radio__form" [formGroup]="selectForm">
          <label>
            <input type="radio" formControlName="selectedType" value="quote" />
            <span class="border">Quote/Saying</span>
          </label>
          <label>
            <input type="radio" formControlName="selectedType" value="story" />
            <span class="border">Short Letter</span>
          </label>
        </form>
        <p class="py-2 text-sm">
          Give some additional context on what you want out of the quote/story.
          <Br /> What is the scenario? Who is the quote/story for?
        </p>

        <form
          class="gap-1 flex flex-col"
          [formGroup]="descriptionGroup"
          (ngSubmit)="generateText()"
        >
          <textarea
            formControlName="input"
            placeholder="Add description"
            class="border-solid pt-1 w-full border border-slate-30 rounded-md pe-2 ps-2 h-20 resize-none"
          ></textarea>
          <div class="flex justify-end items-center">
            <button
              [disabled]="!descriptionGroup.get('input')?.value"
              (click)="generateText()"
              class="w-32 bg-black text-slate-50 hover:bg-stone-900 hover:text-slate-50 flex items-center justify-center gap-1 disabled:opacity-75 disabled:cursor-not-allowed"
            >
              <ng-icon name="radixMagicWand" strokeWidth="17px;"></ng-icon>
              <span class="text-sm font-normal">Generate</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
